h2 {
    color: purple;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    background-color: lightgray;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: center;
}

form {
    background-color: #e6e6e6;
    padding: 15px;
    width: 300px;
}
